@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

p {
  font-family: "Verdana"
}

.image-carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.carousel-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  display: block;
  margin: 0 auto;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.arrow-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.image-carousel.mobile {
  max-width: 300px;
  height: auto;
}