@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* background-color: #71bef5; */
  background-color: #b5aa8b;
  cursor: url('/icons8-cursor-50.png'), auto;
}

.shivering {
  animation: textShadow 6.4s infinite;
}

@keyframes textShadow {
  0% {
    text-shadow: 0 0 10px #fcba03;
  }

  50% {
    text-shadow: 0 0 12px #000000;
  }

  100% {
    text-shadow: 0 0 10px #fcba03;
  }
}